In [1]:
import pandas as pd
import numpy as np

In [15]:
from tqdm.notebook import tqdm
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('../input/train.csv')

In [4]:
target = 'Approved_Flag'
features = ['pct_tl_open_L6M','pct_tl_closed_L6M','Tot_TL_closed_L12M','pct_tl_closed_L12M','Tot_Missed_Pmnt',
            'CC_TL','Home_TL','PL_TL','Secured_TL','Unsecured_TL','Other_TL','Age_Oldest_TL','Age_Newest_TL',
            'time_since_recent_payment','max_recent_level_of_deliq','num_deliq_6_12mts','num_times_60p_dpd',
            'num_std_12mts','num_sub','num_sub_6mts','num_sub_12mts','num_dbt','num_dbt_12mts','num_lss',
            'recent_level_of_deliq','CC_enq_L12m','PL_enq_L12m','time_since_recent_enq','enq_L3m','NETMONTHLYINCOME',
            'Time_With_Curr_Empr','CC_Flag','PL_Flag','pct_PL_enq_L6m_of_ever','pct_CC_enq_L6m_of_ever','HL_Flag',
            'GL_Flag','MARITALSTATUS','EDUCATION','GENDER','last_prod_enq2','first_prod_enq2','Approved_Flag'
            ]

df = df[features]

In [5]:
df

,pct_tl_open_L6M,pct_tl_closed_L6M,Tot_TL_closed_L12M,pct_tl_closed_L12M,Tot_Missed_Pmnt,CC_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,...,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,HL_Flag,GL_Flag,MARITALSTATUS,EDUCATION,GENDER,last_prod_enq2,first_prod_enq2,Approved_Flag
0,0.000,0.00,0,0.000,0,0,0,4,1,4,...,0.000,0.0,1,0,Married,12TH,M,PL,PL,P2
1,0.000,0.00,0,0.000,0,0,0,0,0,1,...,0.000,0.0,0,0,Single,GRADUATE,F,ConsumerLoan,ConsumerLoan,P2
2,0.125,0.00,0,0.000,1,0,0,0,2,6,...,0.000,0.0,1,0,Married,SSC,M,ConsumerLoan,others,P2
3,0.000,0.00,0,0.000,0,0,0,0,3,0,...,0.000,0.0,0,0,Married,POST-GRADUATE,M,AL,AL,P1
4,0.000,0.00,1,0.167,0,0,0,0,6,0,...,0.429,0.0,1,0,Married,12TH,M,ConsumerLoan,PL,P3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42059,0.333,0.00,0,0.000,0,0,0,0,0,3,...,0.000,0.0,0,0,Married,12TH,M,ConsumerLoan,ConsumerLoan,P4
42060,0.000,0.25,1,0.250,0,0,0,0,2,2,...,0.000,0.0,0,0,Married,SSC,M,others,others,P1
42061,0.500,0.50,1,0.500,0,0,0,0,0,2,...,1.000,0.0,0,0,Married,SSC,M,ConsumerLoan,others,P3
42062,0.000,0.00,1,0.500,0,0,0,0,0,2,...,0.000,0.0,0,0,Single,UNDER GRADUATE,F,ConsumerLoan,others,P2
42063,0.000,0.00,0,0.000,0,0,0,0,1,0,...,0.000,0.0,0,0,Married,SSC,M,others,others,P2

In [9]:
numCols = df.select_dtypes(include=['int64','float64']).columns.to_list()
catCols = df.select_dtypes(include=['object']).columns.to_list()

In [31]:
def MakeContColPlots(df,contCols):
    title_specs = {'fontsize': 9, 'fontweight': 'bold', 'color': '#992600'}

    grid_specs = {'visible': True, 'which': 'both', 'linestyle': '--', 
                           'color': 'lightgrey', 'linewidth': 0.75}
    
    fig, axes = plt.subplots(len(contCols), 2 ,figsize = (16, len(contCols) * 4.2), 
                                    gridspec_kw = {'hspace': 0.35, 
                                                'wspace': 0.3, 
                                                'width_ratios': [0.80, 0.20]
                                                }
                                )
    
    for i,col in enumerate(contCols):
            ax = axes[i,0]
            sns.kdeplot(data = df, x = col, 
                        palette = ['#0039e6', '#ff5500', '#00b300'],hue=target,
                        ax = ax, linewidth = 2.1
                        )
            ax.set_title(f"\n{col}", **title_specs)
            ax.grid(**grid_specs)
            ax.set(xlabel = '', ylabel = '')

            ax = axes[i,1]
            sns.boxplot(data = df, y = col, width = 0.25,
                        color = '#33ccff', saturation = 0.90, linewidth = 0.90, 
                        fliersize= 2.25,
                        ax = ax)
            ax.set(xlabel = '', ylabel = '')
            ax.set_title(col, **title_specs)
            
    plt.suptitle(f"\nDistribution analysis- continuous columns\n", **title_specs, 
                        y = 0.92, x = 0.50
                    )
    plt.tight_layout()
    plt.show()